<nav class="tabs" role="tablist">
    <button id="productsTab" class="tab-btn active" role="tab" aria-selected="true" aria-controls="productsContent">
        <span class="material-icons">shopping_cart</span>
        Products
    </button>
    <button id="collectionsTab" class="tab-btn" role="tab" aria-selected="false" aria-controls="collectionsContent">
        <span class="material-icons">category</span>
        Collections
    </button>
    <button id="logsTab" class="tab-btn" role="tab" aria-selected="false" aria-controls="logsContent">
        <span class="material-icons">article</span>
        Logs
    </button>
</nav>
